* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
input, select {
  @apply bg-amber-700 text-white rounded-md p-2 placeholder-white
}
}

@layer components {
  .button-primary{

    @apply bg-yellow-500  rounded-md py-2 px-3 text-white hover:bg-yellow-600 active:bg-yellow-700 lg:py-3 lg:px-6
  }
  .mycontainer {
    @apply bg-yellow-400 rounded-md p-5
  }
}